.balltouch-wrapper {
    height: 90vh;
    overflow: scroll;
}

.balltouch-container {
    padding: 0 !important;
}

.balltouch {
    max-width: 100vw;
    /* height: 300px; */
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: table;

    >div {
        display: table-row;
        box-sizing: border-box;
        text-indent: initial;
        unicode-bidi: isolate;
        border-spacing: 2px;
        border-color: gray;

        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;


        >div {
            display: table-cell;
            vertical-align: middle;

            padding: 10px;
            border: 1px solid #000;
            color: #000;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;

            background: #fff;

        }

        >div:first-child {
            position: sticky;
            min-width: 60vw !important;
            max-width: 60vw !important;
            padding: 0px !important;
            top: 0;
            left: 0;
            background: none;
            border-left: none;
            border-right: none;

            background: #ccc;

            position: sticky;
            top: 0;
            left: 0;
            background: none;
            border-left: none;
            border-right: none;

        }

        >div:first-child::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            background: #ccc;
            z-index: -1;
        }

    }

    >div:first-child {
        >div {
            position: sticky;
            top: 0;
            left: 0;
            background: none;
            border-top: none;
            border-bottom: none;
            text-wrap: wrap;
        }
    }

    >div:first-child {
        >div::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            background: #ccc;
            z-index: -1;
        }
    }

    >div:first-child {
        >div:first-child {
            position: sticky;
            top: 0;
            left: 0;
            background: none;
            border-top: none;
            border-bottom: none;
            border-left: none;
            border-right: none;
            z-index: 1;
        }
    }

    >div:first-child {
        >div:first-child::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            background: #ccc;
            z-index: -1;
        }
    }
}